<!--
  Generated template for the Transactions page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h1>Bienvenido</h1>
	<ion-card *ngFor="let transaction of transactions">
	    <img [src]="transaction.imageUrl" *ngIf="transaction.imageUrl">

	    <ion-card-content>
	      <h2 class="card-title">
	        {{transaction.amount}}
	      </h2>
	      <p>
	         {{transaction.title}}
	      </p>
	    </ion-card-content>

	    <ion-row no-padding>
	      <ion-col>
	        <button ion-button clear small color="danger" icon-left>
	          <ion-icon name='star'></ion-icon>
	          Favorite
	        </button>
	      </ion-col>
	      <ion-col text-center>
	        <button ion-button clear small color="danger" icon-left>
	          <ion-icon name='musical-notes'></ion-icon>
	          Listen
	        </button>
	      </ion-col>
	      <ion-col text-right>
	        <button ion-button clear small color="danger" icon-left>
	          <ion-icon name='share-alt'></ion-icon>
	          Share
	        </button>
	      </ion-col>
	    </ion-row>

	</ion-card>

	<!--ion-card>
		<ion-card-header>Moviemientos</ion-card-header>
		<ion-list *ngFor="let transaction of transactions">
			<button ion-item>
				<strong>{{transaction.amount}}</strong>
				{{transaction.title}}
			</button>
			<button>Eliminar</button>
		</ion-list>
	</ion-card-->
	<ion-fab>
		<button class="button button-energized" ion-fab [navPush]="Adding">
			<ion-icon name="md-add"></ion-icon>
		</button>
	</ion-fab>
</ion-content>
