<!--
  Generated template for the Adding page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Agregar movimiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label floating>Descrición</ion-label>
		<ion-input type="text" [(ngModel)]="model.title"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label floating>Monto</ion-label>
		<ion-input type="number" [(ngModel)]="model.amount"></ion-input>
	</ion-item>
	<ion-item>
		<ion-label>Guardar ubicaciòn</ion-label>
		<ion-toggle [(ngModel)]="shouldGeolocate" (ionChange)="getLocation()"></ion-toggle>
	</ion-item>
	<img [src]="imageData" *ngIf="imageData">
	<ion-item class="actions">
		<ion-icon name="add"></ion-icon>
		<button ion-button clear (click)="getPhoto()">Tomar foto</button>
	</ion-item>
	<div class="actions">
		<button ion-button (click)="save()" [disabled]="!shouldSend">Agregar</button>
	</div>
</ion-content>
